In [1]:
import pandas as pd

In [2]:
# To perform machine learning, we need at least 1 python package and 2 of its modules
from sklearn.linear_model import LinearRegression # linear regression

# Train-test split package
from sklearn.model_selection import train_test_split # split your dataset

In [4]:
data_frame = pd.read_csv("diamonds_regression.csv")

In [5]:
data_frame.head(5)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [6]:
columns = ['carat', 'cut', 'color', 'clarity', 'depth', 'table']

In [8]:
target = 'price'

In [9]:
X = data_frame[columns]
y = data_frame[target]

In [10]:
X

       carat        cut color clarity  depth  table
0       0.23      Ideal     E     SI2   61.5   55.0
1       0.21    Premium     E     SI1   59.8   61.0
2       0.23       Good     E     VS1   56.9   65.0
3       0.29    Premium     I     VS2   62.4   58.0
4       0.31       Good     J     SI2   63.3   58.0
...      ...        ...   ...     ...    ...    ...
53935   0.72      Ideal     D     SI1   60.8   57.0
53936   0.72       Good     D     SI1   63.1   55.0
53937   0.70  Very Good     D     SI1   62.8   60.0
53938   0.86    Premium     H     SI2   61.0   58.0
53939   0.75      Ideal     D     SI2   62.2   55.0

[53940 rows x 6 columns]

In [11]:
X_dummies = pd.get_dummies(X)

In [12]:
X_dummies

,carat,depth,table,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.23,61.5,55.0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,0.21,59.8,61.0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,0.23,56.9,65.0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,0.29,62.4,58.0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
4,0.31,63.3,58.0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,60.8,57.0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
53936,0.72,63.1,55.0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
53937,0.70,62.8,60.0,0,0,0,0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
53938,0.86,61.0,58.0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
53939,0.75,62.2,55.0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, test_size=0.2, random_state=42)

In [14]:
model = LinearRegression()

In [15]:
model.fit(X_train, y_train)

LinearRegression()

In [16]:
model.score(X_test, y_test)

0.9154105155614831

In [17]:
filename = 'diamonds_regression.sav'

In [18]:
import joblib
joblib.dump(model, filename)

['diamonds_regression.sav']

In [19]:
columns = ['carat', 'cut', 'depth', 'table']

In [25]:
data_frame[columns]

       carat        cut  depth  table
0       0.23      Ideal   61.5   55.0
1       0.21    Premium   59.8   61.0
2       0.23       Good   56.9   65.0
3       0.29    Premium   62.4   58.0
4       0.31       Good   63.3   58.0
...      ...        ...    ...    ...
53935   0.72      Ideal   60.8   57.0
53936   0.72       Good   63.1   55.0
53937   0.70  Very Good   62.8   60.0
53938   0.86    Premium   61.0   58.0
53939   0.75      Ideal   62.2   55.0

[53940 rows x 4 columns]

In [26]:
X = data_frame[columns]

In [27]:
X

       carat        cut  depth  table
0       0.23      Ideal   61.5   55.0
1       0.21    Premium   59.8   61.0
2       0.23       Good   56.9   65.0
3       0.29    Premium   62.4   58.0
4       0.31       Good   63.3   58.0
...      ...        ...    ...    ...
53935   0.72      Ideal   60.8   57.0
53936   0.72       Good   63.1   55.0
53937   0.70  Very Good   62.8   60.0
53938   0.86    Premium   61.0   58.0
53939   0.75      Ideal   62.2   55.0

[53940 rows x 4 columns]

In [28]:
X_dummies = pd.get_dummies(X)

In [29]:
X_dummies

,carat,depth,table,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good
0,0.23,61.5,55.0,0,0,1,0,0
1,0.21,59.8,61.0,0,0,0,1,0
2,0.23,56.9,65.0,0,1,0,0,0
3,0.29,62.4,58.0,0,0,0,1,0
4,0.31,63.3,58.0,0,1,0,0,0
...,...,...,...,...,...,...,...,...
53935,0.72,60.8,57.0,0,0,1,0,0
53936,0.72,63.1,55.0,0,1,0,0,0
53937,0.70,62.8,60.0,0,0,0,0,1
53938,0.86,61.0,58.0,0,0,0,1,0
53939,0.75,62.2,55.0,0,0,1,0,0

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y, test_size=0.2, random_state=42)

In [31]:
model = LinearRegression()

In [32]:
model.fit(X_train, y_train)

LinearRegression()

In [33]:
model.score(X_test, y_test)

0.8564655625875285

In [34]:
filename = 'final_diamonds_regression.sav'
joblib.dump(model, filename)

['final_diamonds_regression.sav']

In [35]:
model.score(X_test, y_test)

0.8564655625875285